<div class="footer-page">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4 class="color_blue">Fale Conosco</h4>
                <div class="row">
                    <div class="col-md-4">
                        <h5 class="color_white">Telefones:</h5>
                        <h5 class="color_white">
                            <img src="/img/fone-logo.png" alt="Responsive image"> 
                            (11) 3876-0070
                        </h5>
                        <h5 class="color_white">
                            <img src="/img/fone-logo.png" alt="Responsive image"> 
                            (11) 3814-0070
                        </h5>
                    </div>
                     <div class="col-md-6">
                        <h5 class="color_white">Email:</h5>
                        <a href="mailto:comercial2@jofen.com.br" itemprop="email">
                            <h5><img src="/img/email-logo.png" alt="Responsive image"> comercial2@jofen.com.br</h5>
                        </a>
                        <h5 class="color_white">Whatsapp:</h5>
                        <a href="intent://send/11983147367#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end">
                            <h5 ><img src="/img/whatsapp-logo.png" alt="Responsive image"> (11) 98314-7367</h5>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <h5 class="color_white">Endereço:</h5>
                        <p class="color_white"> Av. Corifeu de Azevedo Marques, 1481 - Butantã, São Paulo - SP, 05581-001, Brasil</p>
                    </div>
                </div>


            </div>
            <div class="col-md-6">
                <h4 class="color_blue">Jofen</h4>
                    <p class="color_white">Desde de 1999, a Jofen atua na área de Consultoria em automação industrial, atendendo as necessidades de seus clientes e oferecendo produtos e serviços de alta qualidade, aliado a capacidade de assessorar e especiﬁcar os produtos ideiais
                        nos momentos certos. Considerada por seus clientes e fornecedores como uma das maiores e melhores distribuidoras dos produtos das marcas Coel, Metaltex, SSR, LG, Sense a Jofen está sempre a procura em aprimorar ainda mais esta
                        condição buscando a satisfação de todos aqueles que fazem parte do crescimento desta empresa.</p>
            </div>
        </div>
        <div class="row">
            <div class="span1">
                <img src="/img/featured/logos/logo_coel.png" class="img-responsive" alt="Responsive image">
            </div>
            <div class="span1">
                <img src="/img/featured/logos/logo_ssr.jpg" class="img-responsive" alt="Responsive image">
            </div>
            <div class="span1">
                <img src="/img/featured/logos/logo_autonics.png" class="img-responsive" alt="Responsive image">
            </div>
            <div class="span1">
                <img src="/img/featured/logos/logo_clip.jpg" class="img-responsive" alt="Responsive image">
            </div>
            <div class="span1">
                <img src="/img/featured/logos/logo_metaltex.png"class="img-responsive" alt="Responsive image">
            </div>
            <div class="span1">
                <img src="/img/featured/logos/Logo_sense.png"class="img-responsive" alt="Responsive image">
            </div>
        </div>
      <p class="color_white">©2017 Jofen - Todos os direitos reservados</p>
    </div>
</div>
<!-- /container -->

    <!-- Jquery-->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script>
    $('.carousel').carousel({
        interval: 3000
    });

    $(document).ready(function() {
        $('.dropdown-submenu a.test').on("click", function(e) {
            $(this).next('ul').toggle();
            e.stopPropagation();
            e.preventDefault();
        });
    });

    (function($){
			$(document).ready(function(){
				$('ul.dropdown-menu [data-toggle=dropdown]').on('click', function(event) {
					event.preventDefault(); 
					event.stopPropagation(); 
					$(this).parent().siblings().removeClass('open');
					$(this).parent().toggleClass('open');
				});
			});
	})(jQuery);
    
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-101910091-1', 'auto');
    ga('send', 'pageview');

</script>