<!DOCTYPE HTML>
<html lang="pt-br">

<head>
    <title>JOFEN: Produtos Para Automação Industrial</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="HandheldFriendly" content="true">
    <meta name="Author" content="Jonnatas Lennon <https://github.com/jonnatas/>">
    <meta name="Copyright" content="© JOFEN todos os direitos reservados" />
    <meta name="Contact" content="jonnatas_lennon@hotmail.com.br" />
    <meta name="Publisher" content="Jônnatas Lennon Lima Costa - https://github.com/jonnatas/" />
    <meta name="Designer" content="Jônnatas Lennon Lima Costa - https://github.com/jonnatas/" />
    <meta name="Robots" content="index,follow, all" />
    <meta name="Googlebot" content="index,follow, all" />
    <meta name="InktomiSlurp" content="index, follow, all" />
    <meta name="Unknownrobot" content="index, follow, all" />
    <meta name="MSNBot" content="index, follow, all" />
    <meta name="Revisit-After" content="7 Days" />
    <meta name="Distribution" content="Global" />
    <meta name="Rating" content="General" />
    <meta http-equiv="content-Language" content="pt-br" />
    <meta name="Resource-Type" content="Document" />
    <meta http-equiv="Pragma" content="No-Cache" />
    <meta http-equiv='Pragma-directive' content='no-cache' />
    <meta http-equiv='Cache-directive' content='no-cache' />
    <meta http-equiv='Window-target' content='_top' />
    <meta http-equiv='VW96.OBJECT TYPE' content='Business' />
    <meta name="description" content="A JOFEN trabalha com Automação. Venha conhecer nossa empresa e seja um cliente JOFEN." />
    <meta name="keywords" content="automacao, especializados em automacao, jofen automacao" />
    <meta name="HandheldFriendly" content="true">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link href='http://fonts.googleapis.com/css?family=Courgette&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script src="Scripts/swfobject_modified.js" type="text/javascript"></script>

    <head>




        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- My bootstrap-->
        <link href="/css/carousel.css" rel="stylesheet" type="text/css" />

    </head>