<!DOCTYPE HTML>
<html lang="pt-br">

<head>
    <title>Jofen automacao indutrial</title>
    <meta charset="UTF-8">
    <meta name="description" content="Jofen automacao indutrial - Especializados em automacao, Sensores de Proximidade, Sensores Fotoeletricos, controlador de temperatura, Temporizadores, Temporizador, Medidores e Indicadores, Contadores de Pulso, Contator, Contatores,   Fontes Chaveadas, Controladores, timer, timer digital, timer analogico, Coel, Autonics, dissipador, dissipadores, rele, sinaleiro, reles, horimetro, toralizador">
    <meta name="keywords" content="Jofen Automacao industrial, Produtos para automacao,  Sensores de Proximidade, Sensores Fotoeletricos, controlador de temperatura, Temporizadores, Temporizador, Medidores e Indicadores, Contadores de Pulso, Contator, Contatores, Fontes Chaveadas, Controladores, timer, timer digital, timer analogico, Coel, Autonics, dissipador, dissipadores, rele, sinaleiro, reles, horimetro, totalizador">
    <meta name="author" content="Jonnatas Lennon <https://github.com/jonnatas/>">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" media="screen and (-webkit-device-pixel-ratio: 1.0)" href="mdpi.css" />

    
    <!-- Jquery-->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    
    <!-- My bootstrap-->
    <link href="/css/carousel.css" rel="stylesheet">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!--[if lt IE 9]><script src="js/html5.js"></script><![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
</head>