<%- include('header') -%>

<body>

    <%- include('navbar') %>
    <div class="container">
        <hr>
        <div class="corpo">
            <!--Start Carousel-->
            <div id="myCarousel" class="carousel slide">
                <div class="carousel-inner">
                    <div class="item active"> <img src="img/featured/banner_coel.png" class="img-responsive" alt="Responsive image">
                    </div>
                    <div class="item"> <img src="img/featured/banner_metaltex1.png" class="img-responsive" alt="Responsive image">
                    </div>
                    <div class="item"> <img src="img/featured/Banner_sense.jpg" class="img-responsive" alt="Responsive image">
                    </div>
                    <div class="item"> <img src="img/featured/banner_autonics.jpg" class="img-responsive" alt="Responsive image">
                    </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev"><img src="img/arrow.png" alt="" class="img-responsive" alt="Responsive image"></a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next"><img src="img/arrow2.png" alt="" class="img-responsive" alt="Responsive image"></a>
            </div>
            <!--End Carousel-->
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <h3>BWT40HR<small> <a>Programador horário</a></small></h3>
                      <a href="/produto/5935af92fad13a725e8b4567"><img src="../../uploads/BWT40-HR-01.jpg %>" class="img-responsive" alt="Responsive image"></a>  
                    </div>
                <div class="col-md-4">
                    <h3>AEM<small> <a>Temporizador analógico</a></small></h3>
                    <a href="/produto/5935b0b4fad13a895e8b4567"><img src="../../uploads/AEM-HMM-P-01.jpg %>" class="img-responsive" alt="Responsive image"></a> 
                </div>
                <div class="col-md-4">
                    <h3>BWM<small> <a>Temporizador Multiescala</a></small></h3>
                    <a href="/produto/5935af7ffad13a715e8b4567"><img src="../../uploads/temporizador-multiescala-coel-bwm.jpg %>" class="img-responsive" alt="Responsive image"></a> 
                </div>
            </div>
             <hr>
            <div class="row">
                <div class="col-md-4">
                    <h3>HWKT<small><a> Contadores</a> </small></h3>
                      <a href="/produto/5935afa4fad13a735e8b4567"><img src="../../uploads/HWKT-VERMELHO-01.jpg %>" class="img-responsive" alt="Responsive image"></a>  
                    </div>
                <div class="col-md-4">
                    <h3>K49E<small> <a>Controlador de Temperatura</a></small></h3>
                    <a href="/produto/5935b0ccfad13a8a5e8b4567"><img src="../../uploads/K49E-HCOR-VERMELHO-03.jpg %>" class="img-responsive" alt="Responsive image"></a> 
                </div>
                <div class="col-md-4">
                    <h3>Y39<small> <a>Controlador de Refrigeração</a></small></h3>
                    <a href="/produto/5935b109fad13a915e8b4567"><img src="../../uploads/Y39-HRRR-B-AZUL-04.jpg %>" class="img-responsive" alt="Responsive image"></a> 
                </div>
            </div>
            <!--Start second row of columns-->
            <hr>
            
        </div>
    </div>
        
       <%- include('footer') -%>

</body>

</html>