<%- include('header') %>

<body>
    <%- include('navbar') %>
    <hr>
    
    <div class="container">
        <div class="fundo-branco" style="margin-top:-10;border:30px;background-color:#FFFFFF;">
            <div class="well" style="background-color:white">
                <div class="row">
                    <div class="span4">
                        <h2>Endereço</h2>
                        <h3>
                            <p> Av. Corifeu de Azevedo Marques, 1481 - Butantã, São Paulo - SP</p>
                            <p>05581-001, Brasil </p>
                        </h3>
                    </div>
                    <div class="span4">
                        <h2>Telefones</h2>
                        <h3>
                            <img src="/img/fone-logo.png" alt="Responsive image"> 
                            (11) 3876-0070
                        </h3>
                        <h3>
                            <img src="/img/fone-logo.png" alt="Responsive image"> 
                            (11) 3814-0070
                        </h3>
                    </div>
                </div>
                <div>
                    <iframe width="100%" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.br/maps?hl=pt-BR&amp;q=Av.corifeu+de+Azevedo+Marques+1481&amp;ie=UTF8&amp;hq=&amp;hnear=Av.+Corifeu+de+Azevedo+Marques,+1481+-+Butant%C3%A3,+S%C3%A3o+Paulo,+05581-001&amp;gl=br&amp;t=m&amp;source=embed&amp;z=14&amp;iwloc=A&amp;ll=-23.574686,-46.728287&amp;output=embed"></iframe>
                </div>
            </div>
        </div>

        <div class="row">

            <!--Start second row of columns-->
        </div>
    </div>
    </div>
    <hr>
<%- include('footer') %>
</body>

</html>