<li><a href="/">Inicio</a></li>
<li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle">Produtos<span class="caret"></span></a>
    <ul class=" dropdown-menu">
        <li>
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Controladores<span class="caret"></span></a>
            <ul class=" dropdown-menu">
                <li>
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Controlador de nível<span class="caret"></span></a>
                    <ul class=" dropdown-menu">
                        <li><a href="/produto/5935b02cfad13a7b5e8b4567">CN1328 – A</a></li>
                        <li><a href="/produto/5935b018fad13a7a5e8b4567">CN1328 – B</a></li>
                        <li><a href="/produto/5935b004fad13a795e8b4567">NI35W</a></li>
                        <li><a href="/produto/5935b046fad13a7c5e8b4567">NI35HR (caixa de agua)</a></li>
                        <li><a href="/produto/5935b05cfad13a7e5e8b4567">NI35HB (bomba)</a></li>

                    </ul>
                </li>
                <li>
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Controlador de Temperatura<span class="caret"></span></a>
                    <ul class=" dropdown-menu">
                        <li><a href="/produto/5935b0e1fad13a8c5e8b4567">K49P</a></li>
                        <li><a href="/produto/5935b0ccfad13a8a5e8b4567">K49E</a></li>
                        <li><a href="/produto/5935b07efad13a855e8b4567">K48P</a></li>
                        <li><a href="/produto/5935b091fad13a865e8b4567">UWK48</a></li>
                        <li><a href="/produto/5935b06cfad13a7f5e8b4567">K48E</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Controlador Para Refrigeração<span class="caret"></span></a>
                    <ul class=" dropdown-menu">
                        <li><a href="/produto/5935b109fad13a915e8b4567">Y39</a></li>
                        <li><a href="/produto/5935b0f7fad13a8d5e8b4567">TLZ10</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Monitor de tensão<span class="caret"></span></a>
            <ul class=" dropdown-menu">
                <li><a href="/produto/5935b189fad13a9c5e8b4567">BVT</a></li>
                <li><a href="/produto/5935b173fad13a9b5e8b4567">BVD</a></li>
                <li><a href="/produto/5935b164fad13a9a5e8b4567">BVS</a></li>
                <li><a href="/produto/5935b14ffad13a995e8b4567">BVF</a></li>
            </ul>
        </li>        
        <li>
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Temporizadores<span class="caret"></span></a>
            <ul class=" dropdown-menu">
                <li><a href="/produto/5935b1bbfad13aa05e8b4568">TT34</a></li>
                <li><a href="/produto/5935b1adfad13aa05e8b4567">T42</a></li>
                <li><a href="/produto/5935b19dfad13a9d5e8b4567">AEG</a></li>
                <li><a href="/produto/5935b0b4fad13a895e8b4567">AEM</a></li>
                <li><a href="/produto/594aa1fc6dc193139105da98">CLE e CLE-2R</a></li>
                <li><a href="/produto/594aa24a6dc193139105da99">CLC e CLC-2R</a></li>
            </ul>
        </li>
        <li>
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Contadores<span class="caret"></span></a>
            <ul class=" dropdown-menu">
                <li><a href="/produto/5935afeffad13a785e8b4567">E520</a></li>
                <li><a href="/produto/5935afa4fad13a735e8b4567">HWKT</a></li>
                <li><a href="/produto/5935afb8fad13a745e8b4567">LWKT</a></li>
            </ul>
        </li>
        <li>
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Outros<span class="caret"></span></a>
            <ul class=" dropdown-menu">
                <li><a href="/produto/5935ae91fad13a605e8b4567">Botões de comando e sinaleiros</a></li>
                <li><a href="/produto/5935aea3fad13a615e8b4567">Chave Bóia</a></li>
                <li><a href="/produto/5935aeb3fad13a625e8b4567">Chaves Comutadoras</a></li>
                <li><a href="/produto/5935b119fad13a925e8b4567">Encoders - Autonics</a></li>
                <li><a href="/produto/5935af65fad13a6f5e8b4567">Termopares</a></li>
            </ul>
        </li>
        <li>
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Eletrodos<span class="caret"></span></a>
            <ul class=" dropdown-menu">
                <li><a href="/produto/5935aee3fad13a685e8b4567">EP-03</a></li>
                <li><a href="/produto/5935aef4fad13a695e8b4567">Haste</a></li>
            </ul>
        </li>
        <li>
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Reles estado solido<span class="caret"></span></a>
            <ul class=" dropdown-menu">
                <li><a href="/produto/5935af05fad13a6a5e8b4567">Monofasico</a></li>
                <li><a href="/produto/5935af17fad13a6b5e8b4567">Trifásico</a></li>
            </ul>
        </li>
        <li>
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Sinaleiros<span class="caret"></span></a>
            <ul class=" dropdown-menu">
                <li><a href="/produto/5935af2afad13a6c5e8b4567">L20</a></li>
                <li><a href="/produto/5935af4ffad13a6e5e8b4567">Torre</a></li>
            </ul>
        </li>
        <li>
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Sensores<span class="caret"></span></a>
            <ul class=" dropdown-menu">
                <li><a href="/produto/5935ae64fad13a5a5e8b4567">Autonics</a></li>
                <li><a href="/produto/5935ae4cfad13a595e8b4567">Sense</a></li>
            </ul>
        </li>
        <li>
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Programador Horário<span class="caret"></span></a>
            <ul class=" dropdown-menu">
                <li><a href="/produto/5935b129fad13a935e8b4567">RTST20</a></li>
                <li><a href="/produto/5935b0a3fad13a875e8b4567">BWT40HR</a></li>
            </ul>
        </li>
    </ul>
</li>
<li><a href="/contato">Fale Conosco</a></li>
<li><a href="/localizacao">Localização</a></li>