<li><a href="/">Inicio</a></li>
<li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle">Produtos<span class="caret"></span></a>
    <ul class=" dropdown-menu">
        <li>
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Controladores<span class="caret"></span></a>
            <ul class=" dropdown-menu">
                <li>
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Controlador de nível<span class="caret"></span></a>
                    <ul class=" dropdown-menu">
                        <li><a href="/produto/5928461652ae7544c45e2037">CN1328 – A</a></li>
                        <li><a href="/produto/592845f452ae7544c45e2036">CN1328 – B</a></li>
                        <li><a href="/produto/5928440652ae7544c45e2035">NI35W</a></li>
                        <li><a href="/produto/5928470a52ae7544c45e2038">NI35HR (caixa de agua)</a></li>
                        <li><a href="/produto/5928472852ae7544c45e2039">NI35HB (bomba)</a></li>

                    </ul>
                </li>
                <li>
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Controlador de Temperatura<span class="caret"></span></a>
                    <ul class=" dropdown-menu">
                        <li><a href="/produto/592849d552ae7544c45e203e">K49P</a></li>
                        <li><a href="/produto/592849b952ae7544c45e203d">K49E</a></li>
                        <li><a href="/produto/5928492b52ae7544c45e203b">K48P</a></li>
                        <li><a href="/produto/5928494a52ae7544c45e203c">UWK48</a></li>
                        <li><a href="/produto/5928486e52ae7544c45e203a">K48E</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Controlador de Refrigerações<span class="caret"></span></a>
                    <ul class=" dropdown-menu">
                        <li><a href="/produto/59285ac1d349dd13c02e821f">Y39</a></li>
                        <li><a href="/produto/59285a42d349dd13c02e821e">TLZ10</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Monitor de tensão<span class="caret"></span></a>
            <ul class=" dropdown-menu">
                <li><a href="/produto/59286b68f8a93f28b72ff6c2">BVT</a></li>
                <li><a href="/produto/59286b1df8a93f28b72ff6c1">BVD</a></li>
                <li><a href="/produto/59286aa8f8a93f28b72ff6c0">BVS</a></li>
                <li><a href="/produto/59286a51f8a93f28b72ff6bf">BVF</a></li>
            </ul>
        </li>        
        <li>
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Temporizadores<span class="caret"></span></a>
            <ul class=" dropdown-menu">
                <li><a href="/produto/5928700a5b08153879e073a5">TT34</a></li>
                <li><a href="/produto/59286fc95b08153879e073a4">T42</a></li>
                <li><a href="/produto/59286f195b08153879e073a2">AEG</a></li>
                <li><a href="/produto/59286f685b08153879e073a3">AEM</a></li>
            </ul>
        </li>
        <li>
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Contadores<span class="caret"></span></a>
            <ul class=" dropdown-menu">
                <li><a href="/produto/5928402352faa8303ee0c100">E520</a></li>
                <li><a href="/produto/59283ebf52faa8303ee0c0fd">HWKT</a></li>
                <li><a href="/produto/591efa333714fc22f484faa4">TLK48</a></li>
                <li><a href="/produto/59283ee852faa8303ee0c0fe">LWKT</a></li>
            </ul>
        </li>
        <li>
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Outros<span class="caret"></span></a>
            <ul class=" dropdown-menu">
                <li><a href="/produto/591ef6c4be39451dd874d402">Botões de comando e sinaleiros</a></li>
                <li><a href="/produto/591ef8fb10953f21abc943f5">Chave Bóia</a></li>
                <li><a href="/produto/591ef98c93254c2269f2bbcf">Chaves Comutadoras</a></li>
                <li><a href="/produto/59285e903cf6c61e0cd6a1bf">Encoders - Autonics</a></li>
                <li><a href="/produto/591f136362967a211f8093ff">Termopares</a></li>
            </ul>
        </li>
        <li>
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Eletrodos<span class="caret"></span></a>
            <ul class=" dropdown-menu">
                <li><a href="/produto/591efa8c3714fc22f484faa5">EP-03</a></li>
                <li><a href="/produto/591efaf417458924b0e14fec">Haste</a></li>
            </ul>
        </li>
        <li>
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Reles estado solido<span class="caret"></span></a>
            <ul class=" dropdown-menu">
                <li><a href="/produto/591f125362967a211f8093fb">Monofasico</a></li>
                <li><a href="/produto/591f128a62967a211f8093fc">Trifacico</a></li>
            </ul>
        </li>
        <li>
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Sinaleiros<span class="caret"></span></a>
            <ul class=" dropdown-menu">
                <li><a href="/produto/591f12e262967a211f8093fd">L20</a></li>
                <li><a href="/produto/591f133b62967a211f8093fe">Torre</a></li>
            </ul>
        </li>
        <li>
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Sensores<span class="caret"></span></a>
            <ul class=" dropdown-menu">
                <li><a href="/produto/591d0cf5acc58e66a8ad53a2">Autonics</a></li>
                <li><a href="/produto/591d08d1b8456b606855753e">Sense</a></li>
            </ul>
        </li>
        <li>
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Programador Horário<span class="caret"></span></a>
            <ul class=" dropdown-menu">
                <li><a href="/produto/592860c23cf6c61e0cd6a1c0">RTST20</a></li>
                <li><a href="/produto/5928611b3cf6c61e0cd6a1c1">BWT40HR</a></li>
            </ul>
        </li>
    </ul>
</li>
<li><a href="/contato">Fale Conosco</a></li>
<li><a href="/localizacao">Localização</a></li>