<%- include('header') -%>

<body>

    <%- include('navbar') %>
    <div class="container">
        <hr>
        <div class="corpo">
        <img src="/img/404.png" alt="">    
            
        <hr>
        </div>
    </div>
        
       <%- include('footer') -%>

</body>

</html>